@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
body {
  margin: 0;
  font-family: 'Inter', sans-serif;}

*{
  box-sizing: border-box;
}
.card--image{
  height:168px;
  width:125px;
  border-radius:5px;
}

.navbar{
  background-color:#F55A5A;
  color: white;
  text-align: center;
  padding:10px;
  height:55px;
}
.navbar span{
  margin-left: 10px;
  font-size: 14.46px;
  letter-spacing:-7.5%;
  font-weight:medium;
}
.App-logo{
  width: 24px;
  
}
section{
  padding: 30px;
}
.card{
   display:flex;
   column-gap: 10px;
   margin-bottom: 10px;
   padding-bottom: 5px;
   border-bottom: 1px solid rgb(242, 235, 235);
}
p{
  font-size: 10.24px;
  font-weight: regular;
  line-height:150%;
}